# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.cache/
htmlcov/
.coverage

# Environment
venv/
.env/

# Logs and databases
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Allure
allure-results/
allure-report/
